.sidebarContainerSize {
	background: var(--sidebar-background);
	display: flex;
	flex: 0 0 4.25rem;
	flex-direction: column;
	z-index: 4;
}

.crestContainer {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0;
}

.crestLogo {
  align-self: center;
  width: 2rem;
}

.sidebarItem {
  color: var(--base-text-color-light);
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

.sidebarItem:hover {
  background-color: var(--highlight-color);
  color: var(--base-text-color-light);
  text-decoration: none;
}

.sidebarItemIcon {
  align-self: center;
  flex: 1 1 auto;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.sidebarItemLabel {
  align-self: center;
  cursor: pointer;
  flex: 1 1 auto;
  font-size: 0.7rem;
  text-align: center;
}

.side a {
  padding: 0.4rem;
  /* margin: 0.5rem 0rem 0.5rem 0rem; */
  text-align: left;
  color: white;
  display: block;
  text-decoration: none;
  width: 100%;
}


.side a:hover {
  background-color: var(--indigo-dye-light);
}

.sideTitle {
  text-transform: uppercase;
  font-size: small;
  padding: 0.75rem 0rem 0rem;
  text-align: center;
  color: white;
  display: block;
  width: 100%
}

/* ============================ Media settings ============================ */
/* col-sm media setting */
@media (max-width: 767px) {
  /* Hide if sidebar not active */
	.sidebarContainerSize {
	  display: none;
	}

	/* Show if sidebar active */
	.sidebarContainerSizeActive {
	  display: unset;
	  height: 100%;
	  position: absolute;
	  width: 100%;
  }

  .sidebarItem {
    flex-direction: row;
  }

  .sidebarItemIcon {
    flex: 0;
    margin: 0 1.2rem;
  }

  .sidebarItemLabel {
    font-size: 1rem;
    flex: 1;
    text-align: left;
  }
}

.hidden {
  display: none;
}
